h3 {
  margin-left: 15px;
  cursor: pointer;
}
.edit-user {
  margin: 0px 60px;

  .image-preview {
    display: flex;
    justify-content: center;

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  form {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: center;

    .form-element {
      display: flex;
      flex-flow: column;
      width: 45%;
      max-width: 300px;
      margin: 10px;

      label {
        font-size: 14px;
        font-weight: 200;
        margin-bottom: 5px;
      }

      .error {
        border-bottom: 1px solid red;
      }

      .valid {
        border-bottom: 1px solid #002345;
      }
    }
  }

  .form-submit {
    margin: 30px 10px;
  }

  .error-message {
    margin: 10px 10px;
  }
}